<div class="contaner-fluid mt-5 about-style" id="aboutid">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">Explore Kurukshetra with us</p>
            <div class="row">
                              <div class="col-md-6 col-12 hero-text">
                <figure>
                  <img src="images/arjun.jpg" alt="herosection-image" height="500">
                </figure>
               </div>
               {{!-- right side --}}
               <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>WE ARE THE MOST LOVED TRIP PLANNERS</h1>
                   
                    <p>WE ARE THE TEAM OF <span class="bold-style"> professional Developer🌞</span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos eius modi architecto labore praesentium cumque, illo minus ipsum fuga fugiat sed tempora doloremque quam nobis esse debitis et consequuntur omnis?
                      </p>
                    <button class="btn-style btn-primary">Travel Packages</button>
               </div>
            </div>
          </div>
        </div>
      </div>