<div class="contaner-fluid mt-5 about-style" id="serviceid">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">REVIEWS BY OUR VALUABLE CUSTOMERS</h1>
            <p class="text-center sub-heading">Your review matters!</p>
            <div class="row">
                
                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <img src="images/uncle.jpeg" height="100" width="100" alt="">
                            </div>
                                <h4>Rakesh Gupta</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi doloribus assumenda dignissimos voluptas susc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                 <img src="images/foreigner.jpeg" height="100" width="100" alt="">
                            </div>
                                <h4>Amara Hadziga</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi doloribus assumenda dignissimos voluptas susc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon">
                                <img src="images/guy.jpeg" height="100" width="100" alt="">
                            </div>
                                <h4>Rahul Garg</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi doloribus assumenda dignissimos voluptas susc</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>