<div class="contaner-fluid mt-5 about-style" id="serviceid">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">PLACES TO VISIT</h1>
            <p class="text-center sub-heading">PLAN YOUR NEXT TRIP WITH US</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/gita.jpeg" alt="" height="100" width="100">
                            </div>
                                <h4>Kalpana Chawla Memorial</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi doloribus assumenda dignissimos voluptas susc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon">
                                <img src="images/sheikh.jpeg" height="100" width="100" alt="">
                            </div>
                                <h4>Sheikh Chilli Tomb</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi doloribus assumenda dignissimos voluptas susc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon">
                                <img src="images/bms.jpeg"height="100" width="100" alt="">
                            </div>
                                <h4>Brahma Sarovar</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi doloribus assumenda dignissimos voluptas susc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <img src="images/jyotisar.jpeg"height="100" width="100" alt="">
                            </div>
                                <h4>Jyotisar</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi doloribus assumenda dignissimos voluptas susc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                <img src="images/krishnaMuseum.jpeg"height="100" width="100" alt="">
                            </div>
                                <h4>Shri Krishna Museum</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi doloribus assumenda dignissimos voluptas susc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon">
                                <img src="images/dhrohar.jpeg"height="100" width="100" alt="">
                            </div>
                                <h4>Dharohar</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi doloribus assumenda dignissimos voluptas susc</p>
                            </div>
                        </div>
                    </div>
                    <p>For more places click here:</p>
                    <button class="btn-style btn-primary">More Places</button>
                </div>
            </div>
        </div>
    </div>
 </div>